@import "vue_basecomponent/main.sass"
html
    font: 18px Arial, sans-serif 
@media all and (max-width: $big-pc-media) 
    html
        font: 15px Arial, sans-serif
@media all and (max-width: $pc-media) 
    html
        font: 12px Arial, sans-serif
@media all and (max-width:$pad-media) 
    html
        font: 10px Arial, sans-serif