$navigation-bar-width: 270px;
$cms-header-width: calc(100% - #{$navigation-bar-width});
$cms-header-width-with-collapse-navigation-bar: calc(100% - 64px);
$main-theme: linear-gradient(90deg, rgba(238,174,202,.35) 0%, rgba(157,157,218,.65) 0%, rgba(45,134,240,.95) 100%);
$main-theme-plain: rgba(45,134,240,1);
:export{
  navigation-bar-width: $navigation-bar-width;
  cms-header-width: $cms-header-width;
  cms-header-width-with-collapse-navigation-bar: $cms-header-width-with-collapse-navigation-bar;
  main-theme: $main-theme;
  main-theme-plain: $main-theme-plain;
}

